body {
    background-color: rgb(233, 140, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(71, 4, 4);
}